.loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--pink-blur);
    z-index: 9999;
   
}
.loading-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
}
.loading-box i{
   position: absolute;
   top: 66px;
   left: -10px;
   font-size: 1.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   color: var(--primary-color-text);
}
.loading_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transform: rotate( calc(var(--value) *45deg));
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loading_div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color-text);
    animation: loading 1s infinite linear;
    animation-delay: calc(var(--value) *0.125s);
    z-index: 999;

}
@keyframes loading {

    to{
       transform: scale(0);
    }
}
.header__scroll-info{
    padding: 7px 0;
    background: var(--primary-color);
}
.header__scroll-info-more{
    display: flex;
    justify-content: space-between;
}
.scroll__info-list{
    display: flex;
    list-style: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold   ;
}
.header__scroll-info-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__scroll-user{
    display: flex;
    align-items: center;
}
.scroll-user-img{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.scroll-user-img img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.scroll-user-name{
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: bold;
}
.header__scroll-info-connect{
    padding-left: 10px;
}
.header__scroll-logo-img{
    height: 70px;;
}
.header__scroll-info-logo{
    padding: 7px 0;
    background-color: var(--white-color);
}
.header__scroll-with-search{
    height: 70%;
    position: relative;
}
.header__scroll-with-search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    
}
.header__scroll_sudnav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__scroll_sudnav-icon{
    font-size: 2.4rem;
}
.header__scroll-logo-name{
    font-size: 3rem;
    border-left: 1px solid var(--primary-color-text);
    position: relative;
    bottom: 25%;
    left: 30px;
    padding-left: 10px;
    color: var(--primary-color-text);
    
}
.header__scroll-with-search{
    height: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--primary-color-text);
    border-radius: 5px;
    overflow: hidden;
}
.header__scroll-with-search-input{
    outline: none;
    height: 100%;
    position: absolute;
    width: 95%;
    border: none;
    padding-left: 10px;
    font-size: 1.8rem;
    font-weight: bold;
}
.header__scroll-with-search-icon{
    padding-left: 5px;
    padding-bottom: 5px;    
}
.container__modyfi-heading
{
    font-size: 1.6rem;
}
.container__modyfi-check{
    display: flex;
    align-items: center;
}
.container__modyfi-name{
    font-size: 2rem;
    padding-left: 10px;
}
.container__modyfi{
    background-color: var(--white-color);
    padding: 17px 40px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.brand-shop-product{
    background-color: var(--white-color);
    margin-top: 20px;
    padding: 5px 10px;
}
.brand-shop-product-info{
    display: flex;
    align-items: center;
    height: 57px;
    font-size: 2rem;
    border-bottom: 1px solid rgba(0,0, 0,0.1);
    color: var(--primary-color-text);
}
.brand-shop-product-name{
    font-weight: bold;
    padding-left: 8px;
}
.brand-shop-product-info-icon{
    padding: 0 10px;
}
.brand-shop-product-img{
    width: 75px;
    height: 75px;
    border: 1px solid rgba(0,0, 0,0.2);
    margin-left: 10px;
}
.brand-shop-product-image{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.brand-shop-product-image-info{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}
.brand-shop-product-content{
    padding: 10px 0;
}

.row{
    justify-content: space-between;
}

.brand-shop-product-image-name{
    flex: 2;
    font-size: 1.2rem;
    text-align: left;
    color: var(--text-color);
    margin: 0 0 0 10px;
    max-height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    
}
.brand-shop-product-type{
    flex: 1;
    padding-left: 20px;
    font-size: 1.2rem;
}
.brand-shop-product-Operation{
    color: var(--primary-color-text);
}
.brand-shop-product-Quantity-btn{
    margin: 0 6px;
    border: none;
    background-color: transparent;
    
}
.home__product-contact{
    background-color: var(--primary-color-text);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.brand-shop-product-unit-price{
    font-size: 1.2rem;
}

.brand-shop-product-Quantity-number{
    font-size: 1.2rem;
}

.brand-shop-product-Amount-money{
    font-size: 1.2rem;
}

.brand-shop-product-Operation{
    font-size: 1.2rem;
}

.p-5{
    padding: 0px !important;
}

.p-3{
    padding: 0.2rem !important;
}

.m-4{
    margin: 0.5 rem !important;
}
