@media screen and (max-width: 414px) {
    .header-container{
        padding-left: 5px;
    }

    .header-logo{
        /* width: 50px; */
        padding-left: 10px;
    }

    .header-logo img{
        width: 50px;
    }

    .header-search{
        border: none;
    }

    .header-search input{
        display: none;
    }

    
}