@media screen and (max-width: 414px) {


    /* ------------- Carts ------------- */
    .logo{
        width: 50px;
    }

    .narbar{
        height: 150px;
    }

    .brand-shop-product-name{
        font-size: 15px;
    }

    .navbar-toggler{
        width: 30px;
        height: 30px;
    }

    .navbar-toggler-icon{
        width: 15px;
        height: 15px;
        
    }

    .brand-shop-product-type{
        font-size: 12px;
    }
}