/* ------------------- Header ------------------- */

.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(211, 211, 211);
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 30px;
}

.header-logo img {
    font-size: 20px;
    width: 100px;
}

.header-search {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 50px;
    height: 40px;
    margin-left: 20px;
}

.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 450px;
    height: 25px;
}

.header-search i:hover{
    color: #f39c12;
}

.header-navigation {
    display: flex;
    gap: 20px;
    margin: 35px 20px;
    width: 100%;
    justify-content: flex-end;
}

.border-navi {
    width: 150px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 2.5rem;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    cursor: pointer;
    transition: all 0.1s linear;
    display: flex;
    gap: 10px;
}

.border-navi a {
    text-decoration: none;
    color: #333;
}

.border-navi i {
    text-align: center;
    justify-content: center;
    line-height: 35px;
}

.border-navi:hover{
    background-color: #f39c12;
    color: #fff;
    border: none;
    transition: all 0.1s linear;
}

.header-utilities {
    display: flex;
    background-color: #d2dae2;
    margin-top: 2px;
    height: 50px;
    line-height: 45px;
    justify-content: space-between;
    padding-left: 30px;
}

.category {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.border-category{
    border: 1px solid #333;
    border-radius: 15px;
    width: 170px;
    height: 40px;
    margin-top: 5px;
    text-align: center;
    line-height: 35px;
}

.border-category a{
    text-decoration: none;
    color: #333;
}


.border-category:hover{
    border: none;
    background-color: #f39c12;
    color: #fff;
    transition: all 0.1s linear;
}

/* ------------------- Main ------------------- */

.title {
    margin-top: 2px;
    color: red;
    padding: 10px;
    border-bottom: 2px solid red;
}

.item:hover {
    background: #cfcdcd;
    text-decoration: none
}

.item {
    background: #eceaea;
    width: 22.7%;
    border-radius: 3px;
    display: inline-block;
    padding: 1%;
    margin: 1%
}

.item a img {
    width: 100%;
    height: 250px;
    margin: 0px;
}

.name a {
    font-size: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding-top: 20px;
}

.item .boxprice {
    padding: 7px;
    text-align: center;
}

div .price strong {
    color: red;
    font-size: 18px
}

.col-6 {
    font-size: 17px;
}

.col-6 i{
    color: #f1c40f;
}

.home {
    width: 100%;
    height: 90px;
    background-color: #dcdcdc;
}

.home li {
    color: red;
    padding: 10px;
    font-size: 20px;
}

.describe {
    margin-top: -30px;
}

.carousel-item img {
    width: 600px;
    height: 500px;
    margin-left: 150px;
}

div.boxprice span {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

div h4 {
    padding: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

#demo .carousel-inner img {
    width: 63%;
    height: 550px;
    margin-left: 30px;
}

.container-fluid{
    padding-top: 10px;
}

.product-image .carousel-indicators {
    display: inline;
}

.btn-danger {
    background-color: #fff;
    color: black;
}

.product-image .carousel-indicators li {
    width: 60px;
    height: 75px;
    text-indent: -5.5px;
    border: 1px solid red;
    margin-top: 22px;
}

.product-image .carousel-indicators li img {
    max-width: 100%;
    height: 73px;
    display: inline;
    margin-left: 3px;
}

.describe {
    padding-top: 20px;
}

.btnorder {
    padding-top: 30px;
}

.btnorder button {
    text-transform: uppercase;
    font-weight: bold;
    min-width: 49%;
}

.ct {
    padding: 3% 25%;
}

.ct h2 {
    text-align: center;
    text-transform: uppercase;
}

.ct img {
    width: 100%;
    height: 650px;
    margin-top: 10px;
}

.ct p {
    font-size: 20px;
}

.DG {
    width: 70%;
    height: 150px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgb(207, 226, 241);
    border-radius: 10px;
}

.DG .but input {
    width: 50%;
    height: 30px;
    margin-bottom: 18px;
    border: 1px solid rgb(56, 50, 50);
    border-radius: 10px;
}

/* ------------------- Login, Register ------------------- */

.container_ {
    width: 400px;
    height: 530px;
    background-color: #e056fd;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #e056fd;
}

.w-logo {
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

.w-logo img {
    width: 100px;
}

.w-text {
    margin: 0px auto;
    text-align: center;
    justify-content: center;
}

.w-text span {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.form-lr{
    margin-top: 25px;
}

.i-1{
    display: flex;
    line-height: 2px;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.i-1 p{
    font-weight: 600;
}

.i-1 input{
    border-radius: 15px;
    border: none;
    width: 200px;
    padding: 8px 16px;
}

.border-lr{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.border-lr p{
    border: 1px solid #333;
    line-height: 10px;
    text-align: center;
    font-weight: 600;
    width: max-content;
    border-radius: 15px;
    background-color: #ecf0f1;
    padding: 1rem 3rem;
    margin: 0px;
}

.border-lr p:hover{
    color: #fff;
    background-color: #e74c3c;
    cursor: pointer;
    transition: all 0.1s linear;
    border: 1px solid #e74c3c;
}

.border-links{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.border-link{
    border: 1px solid #333;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    display: flex;
    font-size: 20px;
}

.border-link a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#facebook{
    background-color: #ecf0f1;
    width: 170px;
    height: 40px;
}

#facebook:hover{
    background-color: #3498db;
    transition: all 0.1s linear;
}

#gmail{
    background-color: #ecf0f1;
    width: 170px;
    height: 40px;
}

#gmail:hover{
    background-color: #f39c12;
    transition: all 0.1s linear;
}

.border-link i{
    line-height: 35px;
}

.container__{
    width: 450px;
    height: 690px;
    background-color: #e056fd;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #e056fd;
}

.i-2{
    display: flex;
    line-height: 35px;
    justify-content: space-between;
    padding: 20px 30px 0px 25px;
}

.i-2 p{
    font-weight: 600;
}

.i-2 input{
    border-radius: 15px;
    border: none;
    width: 200px;
    padding: 8px 16px;
}

#w-1{
    text-align: center;
    margin-top: 20px;
}

.form-lr p a{
    text-decoration: none;
    color: #eb4d4b;
}